<a href="https://colab.research.google.com/github/chiranjeevi-manike/Adult-Income-Analysis/blob/main/Neural_Networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn import metrics
# from pandas.tools.plotting import scatter_matrix
from pandas.plotting import autocorrelation_plot
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn import tree

In [6]:
df = pd.read_csv('adult.csv')

In [7]:
df.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [8]:
col_names = df.columns
for c in col_names:
	df[c] = df[c].replace("?", np.NaN)

df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [9]:
df.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18    Private  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [10]:
df.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['divorced','married','married','married',
              'not married','not married','not married'], inplace = True)
df.head(10)

   age         workclass  fnlwgt  ... hours-per-week  native-country income
0   25           Private  226802  ...             40   United-States  <=50K
1   38           Private   89814  ...             50   United-States  <=50K
2   28         Local-gov  336951  ...             40   United-States   >50K
3   44           Private  160323  ...             40   United-States   >50K
4   18           Private  103497  ...             30   United-States  <=50K
5   34           Private  198693  ...             30   United-States  <=50K
6   29           Private  227026  ...             40   United-States  <=50K
7   63  Self-emp-not-inc  104626  ...             32   United-States   >50K
8   24           Private  369667  ...             40   United-States  <=50K
9   55           Private  104996  ...             10   United-States  <=50K

[10 rows x 15 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelEncoder = preprocessing.LabelEncoder()
category_col =['workclass', 'race','marital-status', 'gender', 'income'] 

for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])

In [12]:
df.head(10)

   age  workclass  fnlwgt  ... hours-per-week  native-country  income
0   25          3  226802  ...             40   United-States       0
1   38          3   89814  ...             50   United-States       0
2   28          1  336951  ...             40   United-States       1
3   44          3  160323  ...             40   United-States       1
4   18          3  103497  ...             30   United-States       0
5   34          3  198693  ...             30   United-States       0
6   29          3  227026  ...             40   United-States       0
7   63          5  104626  ...             32   United-States       1
8   24          3  369667  ...             40   United-States       0
9   55          3  104996  ...             10   United-States       0

[10 rows x 15 columns]

In [13]:
category_col_1 =['workclass', 'education', 'occupation',
               'relationship','native-country'] 

df_2 = pd.get_dummies(df, columns=category_col_1, drop_first=True)

In [14]:
dataframe=df_2.drop('fnlwgt',1)
dataframe =dataframe[[c for c in dataframe if c not in ['income']] + ['income']]
dataframe.head(20)

    age  educational-num  ...  native-country_Yugoslavia  income
0    25                7  ...                          0       0
1    38                9  ...                          0       0
2    28               12  ...                          0       1
3    44               10  ...                          0       1
4    18               10  ...                          0       0
5    34                6  ...                          0       0
6    29                9  ...                          0       0
7    63               15  ...                          0       1
8    24               10  ...                          0       0
9    55                4  ...                          0       0
10   65                9  ...                          0       1
11   36               13  ...                          0       0
12   26                9  ...                          0       0
13   58                9  ...                          0       0
14   48                9  ...                          0       1
15   43               14  ...                          0       1
16   20               10  ...                          0       0
17   43                9  ...                          0       0
18   37                9  ...                          0       0
19   40               16  ...                          0       1

[20 rows x 89 columns]

In [15]:
## making a copy of the data frame
dataframe.to_csv('adult_kearsNN.csv',index=False)

In [20]:
X = dataframe.iloc[:, 0:88].values
y = dataframe.iloc[:, 88].values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

import keras
from keras.models import Sequential
from keras.layers import Dense

classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 88))
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
                   
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

from sklearn.metrics import confusion_matrix
print(classification_report(y_test, y_pred))
cm = confusion_matrix(y_test, y_pred)

TypeError: ignored

In [ ]:
import numpy 

norm_conf = []
for i in cm:
    a = 0
    tmp_arr = []
    a = sum(i, 0)
    for j in i:
        tmp_arr.append(float(j)/float(a))
    norm_conf.append(tmp_arr)

fig = plt.figure()
plt.clf()
ax = fig.add_subplot(1,2,1)
ax.set_aspect(1)
res = ax.imshow(numpy.array(norm_conf), cmap=plt.cm.jet, 
                interpolation='nearest')

width, height = cm.shape

for x in xrange(width):
    for y in xrange(height):
        ax.annotate(str(cm[x][y]), xy=(y, x), 
                    horizontalalignment='center',
                    verticalalignment='center')

plt.title("Confusion Matrix")
plt.xticks(range(width), ['positive','negative'])
plt.yticks(range(height), ['positive','negative'])
plt.show()

In [ ]:
from sklearn.metrics import roc_curve, auc

false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
roc_auc = auc(false_positive_rate, true_positive_rate)


plt.title('Receiver Operating Characteristic Decision Tree')
plt.plot(false_positive_rate, true_positive_rate, 'b',label='AUC = %0.2f'% roc_auc)
plt.legend(loc='lower right')
plt.plot([0,1],[0,1],'r--')
plt.xlim([-0.1,1.2])
plt.ylim([-0.1,1.2])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

Gini_coefficient=2*roc_auc - 1
print "Gini_coefficient =",Gini_coefficient